.Item{
    display: flex;
    border: 2px solid black;
    height: 100px;
    width: 400px;
    margin-bottom: 10px;
    justify-content: space-between;


}
.Item img{
    width: 90px;
    height: 90px;
}
.first{
    width: 20%;
}
.second{
    width: 65%;

}
.second h5{
    font-size: 25px;
    display: inline-block;
    margin: 0;
}
.second button{
    float: right;
    margin-right: 20px;
}